@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #1D1D1D;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

.site {
  text-align: center;
}

.site .title {
  font-size: 200%;
  font-weight: 300;
}

.unit {
  display: inline-block;
  text-align: left;
  padding: 10px;
  width: 20%;
  min-width: 300px;
  vertical-align: middle;
  margin: 5px;
  transition: all 0.2s;
}

.red {
  background-color: #CC5555;
  color: #000000;
}

.red .label {
  color: #333333;
}

.green {
  background-color: #55CC55;
  color: #000000;
}

.green .label {
  color: #333333;
}

.yellow {
  background-color: #CCCC55;
  color: #000000;
}

.yellow .label {
  color: #333333;
}

.unit .row:first-child {
  font-size: 180%;
  margin-bottom: 8px;
  font-weight: 300;
}

.unit .label, .unit .data {
  display: inline-block;
}